<!--Experiencia-->
<div id="experiencia" class="contenedor">
    <h3 >Experiencia<button class="botones fa-regular fa-plus fa-xs"></button></h3>
    <ul>
        <li><img src="assets/images/logopuma.png" class="logos"> Full Stack Jr <button class="botones fa-solid fa-trash-can fa-2xs"></button><button class="botones fa-regular fa-pen-to-square fa-2xs"></button><br> desde enero de 2020 al presente</li>
        <li><img src="assets/images/logoapple.jpg" class="logos"> Full Stack Jr <button class="botones fa-solid fa-trash-can fa-2xs"></button><button class="botones fa-regular fa-pen-to-square fa-2xs"></button><br> desde julio de 2021 a agosto de 2022</li>
        <li><img src="assets/images/logochrome.jpg" class="logos"> Full Stack Jr <button class="botones fa-solid fa-trash-can fa-2xs"></button><button class="botones fa-regular fa-pen-to-square fa-2xs"></button><br> desde octubre de 2022 a febrero de 2023</li>
    </ul>
  </div>
