body {
    background-color: black;

}

/*Scroll Personalizado*/

body::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: black;
}

body::-webkit-scrollbar-thumb {
    background: #D6AABE;
    border-radius: 10px;
    border-right: 2px solid black;
}


/* Encabezado y redes*/

.encabezado {
    margin: 0px 5px 0 5px;
    padding: 20px 0 20px 20px;
    display: grid;
    grid-template-columns: 2fr auto;
    grid-template-rows: 1fr;
}

.headerAP img {
    float: left;
    border-radius: 10px;
    border: 2px solid white;
    margin: 0px 20px 0 0px;
    height: 75px;
    width: 75px;
}
  
.headertext {
    color:white;
    padding-top: 10px;
    display: grid;
    grid-template-rows: 1fr auto;
}
@media screen and (max-width: 700px) {
    .headertext {
        opacity: 0;
    } 
    .headerAP img {
        height: 50px;
        width: 50px;
    }
}
.header {
    align-self: right;
    width: 400px;
    display: grid;
    grid-template-columns: repeat(5, auto);
}
@media screen and (max-width: 600px) {
    .header{
        width: 280px;
    }
}
.header button a {
    font-size: xx-small;
}
.headerRedes {
    height: 50px;
    width: 50px;
    color: #D6AABE;
    background-color: #767676;
    border-color: #D6AABE;
    border-radius: 10px;
}

/*Banner y foto de perfil*/

.banner {
    background-image: url("assets/images/tecladoluces2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 100%;
    padding: 5px 5px 0 0;
    text-align: right;
}

/*Botones de edicion de toda la pagina*/
.botones {
    height: 30px;
    width: 30px;
    margin-left: 1em;
    background-color: #767676;
    border-radius: 10px;
    border-color:#D6AABE;
    color: #D6AABE;
    text-shadow: #A26775 1px 0 10px;
}
/*Perfil */
.perfil {
    height: 250px;
    margin: -115px 0 50px 100px;
    font-family: comic sans ms;
    font-size: 25px;
    font-weight: bold;
    color: #A26775;
    display: grid;
    grid-template-rows: auto auto;
}
.perfil img {
    height: 200px;
    width: 200px;
    border: 5px solid #D6AABE;
    border-radius: 25em;
    margin-right: 80px;
}

/*Acerca de*/
.sobre-mi {
    justify-content: center;
    padding: 30px 25px 0 25px;
    text-align: right;
}

.sobre-mi p {
    color: #A26775;
    text-align:center;
    font-size: 20px;
    font-weight: bold;
    font-family: comic sans ms;
    line-height: 1.6em;
}

/*Contenedores Experiencia-Educacion-Hard&Soft Skils- Proyectos*/
.contenedor {
    background-color: #76A9A2;
    border-radius: 50px;
    box-shadow: 0 0 75px #76A9A2;
    margin: 50px 50px 50px 50px;
    padding: 50px 20px 50px 100px;
    text-align: left;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    overflow: auto;
}
@media screen and (max-width: 800px) {
    .contenedor {
        padding: 50px 20px 50px 20px;
    }
}

.contenedor h3 {
    font-weight: bolder;
    color: #D6AABE;
    margin: 0 0 10px 0px;
    font-family: comic sans ms;
    text-shadow: #A26775 1px 0 10px;
}
.contenedor li {
    margin: 50px 0 35px 0 ;
    font-weight: bold;
    font-family: comic sans ms;
    justify-content: center;
    align: center;
}
.logos {
    height: 80px;
    width: 80px;
    border-radius: 10px;
    float: left;
    margin-right: 25px;
}


/*barras de progreso*/
:root {
    --bar-color: #767676;
    --fill-size: 25%;
}
.progress-bar {
    position: relative;
    width: 200px;
    height: 20px;
    margin: 10px 0 0 50px;
    background-color: #e20909;
    border-radius: 2em;
    overflow: hidden;
}
@media screen and (max-width: 800px) {
    .progress-bar {
        width: 100px;
        height: 15px;
    }
}

.progress-bar::before {
    content: '';
    position: absolute; 
    width: 100%;
    height: 100%;
    background-color: var(--bar-color);
    transform: translateX(-100%);
    animation: fill-bar 0.8s 0.3s ease-in-out forwards;
}
@keyframes fill-bar {
    to {
        transform: translateX(var(--fill-size));
    }
}

:root {
    --bar-color: #767676;
    --fill-size2: 75%;
}
.progress-bar2 {
    position: relative;
    width: 200px;
    height: 20px;
    margin: 10px 0 0 50px;
    background-color: #0926ce;
    border-radius: 2em;
    overflow: hidden;
}

@media screen and (max-width: 800px) {
    .progress-bar2 {
        width: 100px;
        height: 15px;
    }
}

.progress-bar2::before {
    content: '';
    position: absolute; 
    width: 100%;
    height: 100%;
    background-color: var(--bar-color);
    transform: translateX(-100%);
    animation: fill-bar2 0.8s 0.3s ease-in-out forwards;
}
@keyframes fill-bar2 {
    to {
        transform: translateX(var(--fill-size2));
    }
}

:root {
    --bar-color: #767676;
    --fill-size3: 90%;
}
.progress-bar3 {
    position: relative;
    width: 200px;
    height: 20px;
    margin: 10px 0 0 50px;
    background-color: #e69865;
    border-radius: 2em;
    overflow: hidden;
}

@media screen and (max-width: 800px) {
    .progress-bar3 {
        width: 100px;
        height: 15px;
    }
}


.progress-bar3::before {
    content: '';
    position: absolute; 
    width: 100%;
    height: 100%;
    background-color: var(--bar-color);
    transform: translateX(-100%);
    animation: fill-bar3 0.8s 0.3s ease-in-out forwards;
}
@keyframes fill-bar3 {
    to {
        transform: translateX(var(--fill-size3));
    }
}


/*Galeria Proyectos*/
.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    width: 95%;
    margin: auto;
    grid-gap: 10px;
    padding: 40px 0;
    overflow: hidden;
}

.galeria img {
    width: 100%;
    vertical-align: top;
    height: 300px;
    object-fit: cover;
    transition: transform 0.5s;
}
 .galeria > a {
    display: block;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(133, 131, 131, 0.5) ;
 }
 .galeria a:hover img {
    filter: blur(2px);
    transform: rotate(15deg) scale(1.3);
 }

.light-box {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(133, 131, 131, .5);
    transition: transform .3s ease-in-out;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
}

.light-box img {
    width: 75vw;
    max-height: 70vh;
}

.light-box:target {
    transform: scale(1);
}

.close {
    display: block;
    position: absolute;
    top: 40px;
    right: 40px;
    background: #767676;
    color: #D6AABE;
    text-decoration: none;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}

.enlace {
    display: block;
    position: absolute;
    top: 40px;
    right: 90px;
    background: #767676;
    color: #D6AABE;
    text-decoration: none;
    width: 200px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 60%;
}

.next   {
    display: block;
    background: #767676;
    color: #D6AABE;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
}


@media screen and (max-width: 768px) {
    body {
        width: 100%;
    }
 }
 
@media screen and (max-width: 350px) {
    body {
        width: 100%;
    }
 }