<div class="contenedor" *ngIf="expLab">
    <h1>Editar experiencia laboral</h1>
    <div>
        <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
            <div class="form-group">
                <label for="nombreE">Nombre de la empresa:</label>
                <input type="text" class="form-control" id="nombreE" [(ngModel)]="expLab.nombreE" required name="nombreE">
            </div>
            <div class="form-group">
                <label for="descripcionE">Descripcion:</label>
                <input type="text" class="form-control" id="descripcionE" [(ngModel)]="expLab.descripcionE" required name="descripcionE">
            </div>
            <button class="btn-log">Editar experiencia</button>
        </form>
    </div>

</div>

