<!--Acerca de-->
<div class="sobre-mi">
    <button class="botones fa-regular fa-plus fa-xs"></button>
    <button class="botones fa-regular fa-pen-to-square fa-xs"></button>
    <button class="botones fa-solid fa-trash-can fa-sx"></button>
    <p><a> Soy de Ciudad Autonoma de Buenos Aires, Argentina.<br>
        En 2021 participé de Argentina Programa y descubrí mi pasión por la programación.<br>
        Me considero una persona curiosa, siempre dispuesta a seguir aprendiendo y capacitándome.<br>
  </a></p>
  </div>