<!--Educacion-->
<div id="educacion" class="contenedor">
    <h3>Educación<button class="botones fa-regular fa-plus fa-xs"></button></h3>
    <ul>   
        <li><img src="assets/images/logoiss.jpg" class="logos"> Bachillerato con orientacion en Marketing e Informática. <button class="botones fa-solid fa-trash-can fa-2xs"></button><button class="botones fa-regular fa-pen-to-square fa-2xs"></button><br> egresada en 2008</li>
        <li><img src="assets/images/logoandamio2.png" class="logos"> Tecnicatura Superior en Artes del Teatro. <button class="botones fa-solid fa-trash-can fa-2xs"></button><button class="botones fa-regular fa-pen-to-square fa-2xs"></button><br> egresada en 2012</li>
        <li><img src="assets/images/logoArgProg2.jpg" class="logos"> Curso Full Stack Developer Jr <button class="botones fa-solid fa-trash-can fa-2xs"></button><button class="botones fa-regular fa-pen-to-square fa-2xs"></button><br> desde octubre de 2022 a mayo de 2023</li>
    </ul>
  </div>
