<!--Hard & Soft Skills-->
<div class="contenedor">
    <h3>Hard & Soft Skills<button class="botones fa-regular fa-plus fa-xs"></button></h3>
    <ul class="lista-skills">
        <div><li>
            <circle-progress class="skill"
            [percent]="85"
            [title]="'HTML'"
            [subtitle]= "'85%'">
            </circle-progress><button class="botones fa-solid fa-trash-can fa-2xs"></button><button class="botones fa-regular fa-pen-to-square fa-2xs"></button>
        </li></div>
        <div><li>
            <circle-progress class="skill"
            [percent]="76"
            [title]="'JavaScript'"
            [subtitle]= "'76%'">
            </circle-progress><button class="botones fa-solid fa-trash-can fa-2xs"></button><button class="botones fa-regular fa-pen-to-square fa-2xs"></button>
        </li></div>
        <div><li>
            <circle-progress class="skill"
            [percent]="55"
            [title]="'CSS'"
            [subtitle]= "'55%'">
            </circle-progress><button class="botones fa-solid fa-trash-can fa-2xs"></button><button class="botones fa-regular fa-pen-to-square fa-2xs"></button>
        </li></div>
        <div><li>
            <circle-progress class="skill"
            [percent]="86"
            [title]="'Trabajo en equipo'"
            [subtitle]= "'86%'">
            </circle-progress><button class="botones fa-solid fa-trash-can fa-2xs"></button><button class="botones fa-regular fa-pen-to-square fa-2xs"></button>
        </li></div>
    </ul>
<!--
    <ul>
    <li><img src="assets/images/logohtml.png" class="logos"> HTML5 <button class="botones fa-solid fa-trash-can fa-2xs"></button><button class="botones fa-regular fa-pen-to-square fa-2xs"></button><br></li><div class="progress-bar"></div>
    <li><img src="assets/images/logocss3.png" class="logos"> CSS <button class="botones fa-solid fa-trash-can fa-2xs"></button><button class="botones fa-regular fa-pen-to-square fa-2xs"></button><br></li><div class="progress-bar2"></div>
    <li><img src="assets/images/logojs.png" class="logos">  JavaScript <button class="botones fa-solid fa-trash-can fa-2xs"></button><button class="botones fa-regular fa-pen-to-square fa-2xs"></button><br></li><div class="progress-bar3"></div>
    </ul> -->
</div>