<div class="contenedor">
    <h1>Agregar experiencia laboral</h1>
    <div>
        <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
            <div class="form-group">
                <label for="nombreE">Nombre de la empresa:</label>
                <input type="text" class="form-control" id="nombreE" [(ngModel)]="nombreE" required name="nombreE">
            </div>
            <div class="form-group">
                <label for="descripcionE">Descripcion:</label>
                <input type="text" class="form-control" id="descripcionE" [(ngModel)]="descripcionE" required name="descripcionE">
            </div>
            <button class="btn-log">Agregar experiencia</button>
        </form>
    </div>

</div>
